[submodule "bachelor-ui"]
	path = bachelor-ui
	url = "https://github.com/povilaspetkevicius/STATMIS-app"
[submodule "bachelor-scraping"]
	path = bachelor-scraping
	url = "https://github.com/povilaspetkevicius/bachelor-scraping"
[submodule "bachelor-analysis"]
	path = bachelor-analysis
	url = "https://github.com/povilaspetkevicius/bachelor-api"
[submodule "bachelor-data"]
	path = bachelor-analysis-data
	url = "https://github.com/povilaspetkevicius/bachelor-data"
